<% provide(:title, "Sign in") %>
<div class="storesign">
<div id="storeform"><h1>サインイン</h1></div>

<div class="signin">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.submit "サインイン", class: "btn btn-large btn-primary" %>
    <% end %>

    <div id="newinfo"><p>新しく情報発信したい方↓</p></div>
    <p><%= link_to "登録画面へ", signup_path %></p>
  </div>
</div>