<div id ="search_output">

<p>「<%= @search_word %>」に該当する記事</p>

<ul class="search">
 <% if @articles.empty? %>  
          <p>該当情報は見当たりません</p>
        <%else%>   
  <% @articles.each do | article | %> 
	        <hr>
		       <div class="article_index"><p><%=article_image_for article.article_images.map{|articleimage| articleimage.image }.first %>タイトル：<%=link_to article.title[0..10], article_path(article.id) %>...<br>店舗名：<%=link_to article.store.name[0..10], article_path(article.id) %>...<br>Like数：<%=article.favorites.count %></p></div>
	         <% end %>
 <% end %>
</ul>

<p>「<%= @search_word %>」に該当する店舗</p>

<ul class="search">
 <% if @stores.empty? %>  
          <p>該当情報は見当たりません</p>
        <%else%>   
  <% @stores.each do |store|%>
    <div class="article_index"><p><%= link_to store.name[0..10], store_path(store.id) %>.../ <%= link_to store.category, store_path(store.id) %> / <%= link_to store.station, store_path(store.id) %></p>
  <% end %>
 <% end %>
</ul>
</div>