<div class="col-sm-6 col-md-3 col-lg-3">
  <div class="blog-box">
    <div class="hover-bg">                  
          <%= link_to article_path(article.id) do
            article_image_for article.article_images.map{|articleimage| articleimage.image }.first
            end %>
          <% if Time.now - article.created_at < 24*60*60 %>
            <div class="new"><%= image_tag 'icn_new.png', :size => '10×10', :class => "new" %></div>
           <% end %>            
          <div class='indextitle'><h30><%= link_to simple_format(article.title), article_path(article.id) %></h30></div>
            <div class="title_box">
              <div class="nowheretitle">
                <ul>
                   <div class="thumbnails"><%= profile_image_for article.store.profile %></div>
                  <div class="storename"><li><%= article.store.name %></li></div>
                  <div class="stationname"><li><%= article.station %></li></div>
                  <div id="time">
                    <li>残り:<% if article.left_time > 24.hours %><%= article.left_day.floor %>日<% else %><%= article.left_hour.floor %>時間<%= article.left_minute.floor %>分<% end %></li>
                  </div>
                  <div class='view'><li>View:<%= article.impressionist_count(:filter=>:session_hash)%></li></div>
                  <% if user_signed_in?%>
                     <div class='like'>
                      <li>
                        <span id="article_favorite<%= article.id %>">
                         <%= render 'favorites/favorite_btn', article: article %>
                        </span>
                        <span id="fav_<%=article.id %>">
                         <%= article.favorites.count %>
                        </span>
                      </li>
                    </div>
                  <% end %>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);

            /***** ユーザーの現在の位置情報を取得 *****/
            function successCallback(position) {


              function callback(response, status) {
                if (status != google.maps.DistanceMatrixStatus.OK) {
                  alert('Error was: ' + status);
                } else {
                  var origins = response.originAddresses;
                  var destinations = response.destinationAddresses;
                  // var article = document.getElementById("#article_" + i);
                  // article.innerHTML = '';
                  // deleteOverlays();

                  for (var i = 0; i < origins.length; i++) {
                    var results = response.rows[i].elements;
                    // addMarker(origins[i], false);
                    for (var j = 0; j < results.length; j++) {
                      // addMarker(destinations[j], true);
                      var distance = results[j].distance.text;
                      if ( distance < 1) {
                        distance = distance * 1000;
                      };
                      $("#article_distance_" + j).html('距離' + ':' + distance + '<br>')
                    }
                  }
                }
              }

              var service = new google.maps.DistanceMatrixService();
              service.getDistanceMatrix(
                {
                  origins: [new google.maps.LatLng(position.coords.latitude, position.coords.longitude)],
                  destinations: [<%= raw @article_address.join(",") %>],
                  travelMode: google.maps.TravelMode.DRIVING,
                  unitSystem: google.maps.UnitSystem.METRIC,
                  avoidHighways: false,
                  avoidTolls: false
                }, callback);
            }

            /***** 位置情報が取得できない場合 *****/
            function errorCallback(error) {
              var err_msg = "";
              switch(error.code)
              {
                case 1:
                  err_msg = "位置情報の利用が許可されていません";
                  break;
                case 2:
                  err_msg = "デバイスの位置が判定できません";
                  break;
                case 3:
                  err_msg = "タイムアウトしました";
                  break;
              }
              document.getElementById("show_result").innerHTML = err_msg;
              //デバッグ用→ document.getElementById("show_result").innerHTML = error.message;
            }
        
              var $container = $('#container');
           // $container.imagesLoaded(function(){ //imagesLoadedを入れて崩れないように
              $container.masonry({ // id="container"の中の
                  itemSelector : '.box', // class="item"に対して適用
                  columnWidth: 0, //一列の幅サイズを指定
                  isFitWidth: true, //親要素の幅サイズがピッタリ
              });
           // });
               $('.box').click(function(){
                  $(this).css("background", "#CCC")
                  window.location = $(this).find('a').attr('href');
                  return false;
               })
          });
</script>