        <!-- Favicons
    ================================================== -->
    <!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png"> -->

   <!-- Bootstrap
    ================================================== -->
<!--     <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
 -->
    <!-- Other Css Files
    ================================================== -->
<!--     <link rel="stylesheet" type="text/css" href="font-awesome-4.2.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/jasny-bootstrap.min.css"> -->

    <!-- Stylesheet
    ================================================== -->
 <!--    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css"> -->

    <!-- Google Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Modernizr
    ================================================== -->
    <!-- <script type="text/javascript" src="js/modernizr.custom.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--   </head>

  <body> -->

    <!-- Preloader
    ================================================== -->
<!--     <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
 -->

    <!-- Off Canvas Navigation
    ================================================== -->
    <!-- <div id="navigation" class="navmenu navmenu-default navmenu-fixed-left offcanvas"> <! Off Canvas Side Menu -->
      <!-- <a href="index.html"><img src="img/menu-logo.png" alt="..." class="logo"></a> <! User Icon/Image --> 
     <!-->  <ul class="nav navmenu-nav"> <! Menu --> 
        <!-- <li><a href="index.html#hero">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="index.html#about">About Me</a></li>
        <li class="active"><a href="blog.html">Blog</a></li>
        <li><a href="index.html#contact">Contact Me</a></li>
      </ul><!- End Menu -->
    <!-- </div> - End Off Canvas Side Menu  -->

    <!-- Menu Toggle for Off Canvas-Menu -->
    <!-- <div id="menu" class="menu" data-toggle="offcanvas" data-target=".navmenu">
        <img src="img/menu.png" alt="menu-logo">
    </div>
 -->
    <!-- Top Page Title Bar -->
   <!--  <div class="page-title-bar">
        <div class="page-title text-right">
            <h2>Blog</h2>
        </div>
    </div> -->

    <!--Blog Posts
    ================================================== -->
    <section id="blog" class="posts"> 
        <div class="hi-fluid"> <!-- Start Container -->
          <div class="row"> <!-- Start Row -->
            <!-- <div class = "select_geo">
            </div>  -->
            <div class = 'indexarticles1'>    
            <div class = ''>
               <% if @articles.empty? %>  
                  <div class="nothing"><p>投稿情報は現在ございません</p></div>
                <%else%>   
              <div id = 'container'>                               
              <% @articles.each_with_index do |article, index| %>  
                <div class="box"> 
                 <a href= 'articles/<%=article.id %>'>            
                  <div class="blog-box" id="article_<%= index %>">
                          <%= link_to article_path(article.id) do
                            article_image_for article.article_images.map{|articleimage| articleimage.image }.first
                            end %>
                            <!-- <img src="img/blog/02.jpg" alt="img" class="img-responsive"> -->
                        <!-- <div class="hover-text"> -->
                                        <!-- <a href="portfolio/cityscape.html"><h2><%= link_to article.title, article_path(article.id) %></h2></a> -->
                          <% if Time.now - article.created_at < 24*60*60 %>
                            <div class="new"><%= image_tag 'icn_new.png', :size => '10×10', :class => "new" %></div>
                           <% end %>            
                          <div class='indextitle'><h30><%= link_to simple_format(article.title), article_path(article.id) %></h30></div>
                          <div class="thumbnails"><%= profile_image_for article.store.profile %></div>
                          <div class="storename"><%= article.store.name %></div>
                            <div class="title_box">
                                <ul>
                                  <!-- <li><%= article.herenowtitle %></li> -->
                                  <div class="stationname"><li><%= article.station %></li></div>
                                  <div id="time">
                                    <li>残り:<% if article.left_time > 24.hours %><%= article.left_day.floor %>日<% else %><%= article.left_hour.floor %>時間<%= article.left_minute.floor %>分<% end %></li>
                                  </div>
                                  <div class='view'><li>View:<%= article.impressionist_count(:filter=>:session_hash)%></li></div>
                                  <div class='distance'>
                                    <li><span id="article_distance_<%= index %>"></span></li>
                                  </div>
                                  <% if user_signed_in?%>
                                     <div class='like'>
                                      <li>
                                        <span id="article_favorite<%= article.id %>">
                                         <%= render 'favorites/favorite_btn', article: article %>
                                        </span>
                                        <span id="fav_<%=article.id %>">
                                         <%= article.favorites.count %>
                                        </span>
                                      </li>
                                    </div>
                                  <% end %>
                                </ul>
                              <!-- </div> -->
                            </div><!-- title_box -->     
                          <!-- </div> -->  
                        </div><!-- blog_box -->
                       </a>    
                    </div><!-- item -->
              <% end %>
            </div><!-- contanier -->
          <% end %>            
            </div>
          </div><!-- indexarticles -->
         </div> <!-- End Row -->
        </div> <!-- hi fluid -->
        <div class="clearfix"></div>
    </section>


<script type="text/javascript">
  //  $(document).ready(function(){
  //   $(".thumbnails img").MyThumbnail({
  //     thumbWidth:150,
  //     thumbHeight:150
  //   });
  // 　});
   $(function(){
          var map;
          var geocoder;
          var bounds = new google.maps.LatLngBounds();
          var markersArray = [];

          // var origin1 = position;
          // var origin2 = 'Greenwich, England';
          // var destinationA = <%= raw @article_address.to_json %>;
          // var destinationB = new google.maps.LatLng(50.087, 14.421);

          var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
          var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=O|FFFF00|000000';

          // function initialize() {
          //   var opts = {
          //     center: new google.maps.LatLng(55.53, 9.4),
          //     zoom: 10
          //   };
          //   map = new google.maps.Map(document.getElementById('map-canvas'), opts);
          //   geocoder = new google.maps.Geocoder();
          // }
          // var $container = $('#container');　
         
          $(document).ready(function(){
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);

            /***** ユーザーの現在の位置情報を取得 *****/
            function successCallback(position) {


              function callback(response, status) {
                if (status != google.maps.DistanceMatrixStatus.OK) {
                  alert('Error was: ' + status);
                } else {
                  var origins = response.originAddresses;
                  var destinations = response.destinationAddresses;
                  // var article = document.getElementById("#article_" + i);
                  // article.innerHTML = '';
                  // deleteOverlays();

                  for (var i = 0; i < origins.length; i++) {
                    var results = response.rows[i].elements;
                    // addMarker(origins[i], false);
                    for (var j = 0; j < results.length; j++) {
                      // addMarker(destinations[j], true);
                      var distance = results[j].distance.text;
                       if ( distance.substring(0, distance.indexOf("m")) > 1) {
                          $("#article_distance_" + j).html('距離' + ':' + distance + '<br>')
                        } else if ( distance.substring(0, distance.indexOf("k")) < 1) {
                          $("#article_distance_" + j).html('距離' + ':' + distance.substring(0, distance.indexOf("k")) * 1000 + 'm' + '<br>')
                        } else {      
                          $("#article_distance_" + j).html('距離' + ':' + distance + '<br>')
                        }
                    }
                  }
                }
              }

              var service = new google.maps.DistanceMatrixService();
              service.getDistanceMatrix(
                {
                  origins: [new google.maps.LatLng(position.coords.latitude, position.coords.longitude)],
                  destinations: [<%= raw @article_address.join(",") %>],
                  travelMode: google.maps.TravelMode.WALKING,
                  unitSystem: google.maps.UnitSystem.METRIC,
                  avoidHighways: false,
                  avoidTolls: false
                }, callback);
            }

            /***** 位置情報が取得できない場合 *****/
            function errorCallback(error) {
              var err_msg = "";
              switch(error.code)
              {
                case 1:
                  err_msg = "位置情報の利用が許可されていません";
                  break;
                case 2:
                  err_msg = "デバイスの位置が判定できません";
                  break;
                case 3:
                  err_msg = "タイムアウトしました";
                  break;
              }
              document.getElementById("show_result").innerHTML = err_msg;
              //デバッグ用→ document.getElementById("show_result").innerHTML = error.message;
            }
        
              var $container = $('#container');
                $container.imagesLoaded(function(){
                  $('#container').masonry({ // id="container"の中の
                      itemSelector : '.box', // class="item"に対して適用
                      columnWidth: 0, //一列の幅サイズを指定
                      isFitWidth: true, //親要素の幅サイズがピッタリ
                  });
                });     
               $('.box').click(function(){
                  $(this).css("background", "#CCC")
                  window.location = $(this).find('a').attr('href');
                  return false;
               })
          });
   });         
</script>