                <div class="col-sm-6 col-md-6 col-lg-6 nopadding">
                  <div class="blog-box">
                        <div class="hover-bg">
                          <%= article_image_for article.image_one %>
                            <!-- <img src="img/blog/02.jpg" alt="img" class="img-responsive"> -->
                        <div class="hover-text">
                                        <!-- <a href="portfolio/cityscape.html"><h2><%= link_to article.title, article_path(article.id) %></h2></a> -->
                          <h2><%= link_to article.title, article_path(article.id) %></h2>
                            <div class="title_box">
                              <div class="nowheretitle">
                              <p class="excerpt"><%= article.herenowtitle %></p></div>
                              <p>残り時間:<%= article.left_hour.floor %>時間<%= article.left_minute.floor %>分</p>
                              <p>View:<%= article.view_count %></p>
                              <% if user_signed_in?%>
                                 <span id="article_<%= article.id %>">
                                     <%= render 'favorites/favorite_btn', article: article %>
                                 </span>
                                 <span id="fav_<%=article.id %>">
                                     <%= article.favorites.count %>
                                 </span>
                              <% end %>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>