<li>
   <div class="col-md-4 portfolio-item">
    <li style="list-style:none;">
      <a href =<%= article_path(article.id) %> >
      <!-- <img class="img-responsive" -->
      <%= article_image_for article.image_one %> </a>
      <h3><%= link_to article.herenowtitle, article_path(article.id) %></h3> 
      <h3><%= link_to article.title, article_path(article.id) %></h3>
        <%= time_ago_in_words(article.created_at) %> ago
        <%= article.created_at + 24.hours - Time.now %>
    </div>
</li>