<div class="col-sm-3 col-md-3 col-lg-3 nopadding">
  <div class="blog-box" >
        <div class="hover-bg">                     
          <%= article_image_for article.article_images.map{|articleimage| articleimage.image }.first %>
            <!-- <img src="img/blog/02.jpg" alt="img" class="img-responsive"> -->
        <div class="hover-text">
                        <!-- <a href="portfolio/cityscape.html"><h2><%= link_to article.title, article_path(article.id) %></h2></a> -->
          <% if Time.now - article.created_at < 24*60*60 %>
          <div class="new"><%= image_tag 'icn_new.png', :size => '10×10', :class => "new" %></div>
         <% end %>        
          <h2><%= link_to simple_format(article.title), article_path(article.id) %></h2>
            <div class="title_box">
              <div class="nowheretitle">
              <ul>
               <div class="storename"><li><%= article.store.name %></li></div>
               <div class="stationname"><li><%= article.store.station %></li></div>
                <div id="time">
                  <li>残り時間:
                    <% if article.left_time > 24.hours %>
                     <%= article.left_day.floor %>日
                    <% else %>
                     <%= article.left_hour.floor %>時間<%= article.left_minute.floor %>分
                    <% end %>
                  </li>
                </div>
               <div class='view'><li>View:<%= article.view_count %></li></div>
                <% if user_signed_in?%>
                   <li><span id="article_favorite<%= article.id %>">
                       <%= render 'favorites/favorite_btn', article: article %>
                      </span>
                      <span id="fav_<%=article.id %>">
                       <%= article.favorites.count %>
                      </span>
                   </li>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>