<div class="col-md-4 portfolio-item">
 <li style="list-style:none;">
  <%= link_to '現在位置', "/#index", {:id => 'geo_btn'} %>
  <%= link_to '投稿順', { action: :index }, remote: true %>
  <div class = "articles">
   <% @articles.each do |article| %>
      <a href =<%= article_path(article.id) %> >
      <!-- <img class="img-responsive" -->
      <%= article_image_for article.image_one, width: "300px" %> 
      </a>
      <h3><%= link_to article.herenowtitle, article_path(article.id) %></h3> 
      <h3><%= link_to article.title, article_path(article.id) %></h3>
      <p><ul>残り時間
      　 <p><li><%= article.left_hour.floor %></li></p>
         <p><li><%= article.left_minute.floor %></li></p>
      <p><li><%= article.view_count %> </li></p>
        <% if user_signed_in?%>
          <span id="article_<%= article.id %>">
            <%= render 'favorites/favorite_btn', article: article %>
          </span>
          <span id="fav_<%=article.id %>">
            <%= article.favorites.count %>
          </span>
        <% end %>
   <% end %>
  </div>
 </li>
</div>

