<h1> 詳細情報</h1>

<ul>
  <div class = "articles" >
    <p><li>Herenowtitle: <%= @article.herenowtitle %></li></p>
    <p><li>title: <%= @article.title %></li></p>
    <p><li>content: </br><%= @article.content %></li></p>
    <p><li><% if @article.image? %>
    	   <%= image_tag @article.image.thumb.url %>
    	     <% else %>
    	   <%= image_tag 'noimage.gif' %>
    	   <% end %><p><li>	
    <p><li>address: </br><%= @article.address %></li></p>
    <p><li>latitude: </br><%= @article.latitude %></li></p>
    <p><li><%= @article.view_count %> </li></p>
    <p><ul>残り時間
      　 <p><li><%= @article.left_hour.floor %></li></p>
         <p><li><%= @article.left_minute.floor %></li></p>
         <p><li><%= @article.left_second.floor %></li></p>
  </div>
</ul>

 <section>
      <h1>店舗基本情報</h1>
      <p>店舗名:<%= @article.store.name %></p>
      <p>業態:<%= @article.store.category %></p>
      <p>電話番号:<%= @article.store.tel %></p>
      <p>URL:<%= @article.store.url %></p>
      <p>メールアドレス:<%= @article.store.email %></p>
 </section>