<h2> 詳細情報</h2>

<ul>
  <div class = "articles" >
    <p><li><%= @article.herenowtitle %></li></p>
    <p><li><%= @article.title %></li></p>
    <p><li></br><%= @article.content %></li></p>
    <p><li><% if @article.article_images.first %>
    	   <%= image_tag  %>
    	     <% else %>
    	   <%= image_tag 'noimage.gif' %>
    	   <% end %><p><li>	
    <p>残り時間:<%= @article.left_hour.floor %>時間<%= @article.left_minute.floor %>分</p>
    <p>View:<%= @article.view_count %></p>
  </div>
</ul>

 <section>
      <h2>店舗基本情報</h2>
      <p>店舗名:<%= @article.store.name %></p>
      <p>業態:<%= @article.store.category %></p>
      <p>電話番号:<%= @article.store.tel %></p>
      <p>URL:<%= @article.store.url %></p>
      <p>メールアドレス:<%= @article.store.email %></p>
 </section>