<% provide(:title, '編集') %>
<div class="storesign">
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@store) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :category %>
      <%= f.select :category, ['飲食', 'shopping', 'その他'], { include_blank: '選択してください' }, class: 'category' %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>

      <%= f.label :address, "住所1" %>
      <%= f.text_field :address %>

      <%= f.label :address_sec, "建物名" %>
      <%= f.text_field :address_sec %>

      <%= f.label :station, "最寄り駅" %>
      <%= f.select :station, ['武蔵小杉','新丸子','元住吉','向河原','武蔵中原','その他'], { include_blank: '選択してください' }, class: 'category' %>

      <%= f.label :tel, "電話番号" %>
      <%= f.telephone_field :tel %>

      <%= f.label :managetime, "営業時間" %>
      <%= f.text_field :managetime %>

      <%= f.label :holiday, "定休日" %>
      <%= f.text_field :holiday %>

      <%= f.label :profile, "プロフィール写真" %>
      <%= f.file_field :profile %>      

      <%= f.label :url, "URL1" %>
      <%= f.text_field :url %>

      <%= f.label :url_sec, "URL2" %>
      <%= f.text_field :url_sec %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "更新", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>