<% provide(:title, @store.name) %>
<section>
 <div class="storeshow">
      <% if correcting_store %>
      <p><strong>基本情報 </strong><%=link_to '投稿', new_article_path %> | <%=link_to '編集', edit_store_path %></p>
      <% end %>

      <p>店舗名:<%= @store.name %></p>
      <p>電話番号:<%= @store.tel %></p>
      <p>メールアドレス:<%= @store.email %></p>
      <p>業態:<%= @store.category %></p>
      <p>住所:<%= @store.address %></p>
      <% if @store.address_sec? %>
       <p>建物名:<%= @store.address_sec %></p>
      <% else %>
       <p>建物名:-</p>
      <% end %>
      <p>最寄り駅:<%= @store.station %></p>
      <% if @store.managetime?%>
       <p>営業時間:<%= @store.managetime %></p>
      <% else %>
       <p>営業時間:-</p>
      <% end %>
      <% if @store.holiday? %>
       <p>定休日:<%= @store.holiday %></p>
      <% else %>
       <p>定休日:-</p>
      <% end %>
      <% if @store.profile? %>
       <p>プロフィール:<div class="showthumbnails"><%= show_profile_image_for @store.profile %></div></p>
      <% else %>
       <p>定休日:-</p>
      <% end %> 
      <% if @store.url? %>
       <p>URL1:<%= link_to @store.url, :target => "blank" %></p>
      <% else %>
       <p>URL1:-</p>
      <% end %>
      <% if @store.url_sec? %>
       <p>URL2:<%= link_to @store.url_sec, :target => "blank" %></p>
      <% else %>
       <p>URL2:-</p>
      <% end %>
      <p><div id="storegmap"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@store.latitude}%2C#{@store.longitude}" %></div></p>  
  </div>

  <div class="store_article">
    <p><strong>投稿記事一覧</strong></p>
        <table class="sample_02">
          <tbody>
          <tr>
          <th>日付</th>
          <th>投稿タイトル</th>
          <th>view数</th>
          <th>編集</th>
          </tr>
          <% @articles.each do | article | %>
          <tr>
          <td><%=article.created_at.strftime("%Y年%m月%d日") %></td>
          <td><%=link_to article.title[0..10], article_path(article.id) %>...</td>
          <td><%=article.impressionist_count(:filter=>:session_hash) %></td>
          <td><%=link_to '編集', edit_article_path(article.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function(){
  $(".thumbnails img").MyThumbnail({
    thumbWidth:150,
    thumbHeight:150
  });
});
</script>

