<div class="favorite_articles">
	<div id="favorite_index" >
    <p id="like"><strong>お気に入り一覧</strong></p>
         <div class="store_article">
          <div id="favorite_index" >
            <p><strong></strong></p>
             <% @articles.each do |article| %> 
                <div class='gmaplikeshow'>
                  <!-- <div class='title_in_box'> -->
                  <div class='gmaplikeimage'><%=article_image_for article.article_images.map{|articleimage| articleimage.image }.first %></div>
                  <div class='gmapword'>
                  タイトル：<%=link_to article.title[0..10], article_path(article.id) %>...<br>
                  店舗名：<%=link_to article.store.name[0..10], article_path(article.id) %>...<br>
                  <div class='view'><li><i class="fa fa-users"><%= article.impressionist_count(:filter=>:session_hash)%></i></li></div>
                                <% if user_signed_in?%>
                                   <div class='like'>
                                      <li>
                                        <span id="article_favorite<%= article.id %>">
                                         <%= render 'favorites/favorite_btn', article: article %>
                                        </span>
                                        <span id="fav_<%=article.id %>">
                                         <%= article.favorites.count %>
                                        </span>
                                      </li>
                                  </div>
                                      <% else %>
                                  <div class='like'>
                                      <li>
                                        <span>
                                         <i class="fa fa-thumbs-o-up"></i>
                                        </span>
                                        <span id="fav_<%=article.id %>">
                                         <%= article.favorites.count %>
                                        </span>
                                      </li>
                                  </div>
                                <% end %></div>
                <!-- </div> -->
                </div>
             <% end %>
         </div>
      </div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$('.gmaplikeshow').click(function(){
	        $(this).css("background", "#CCC")
	        window.location = $(this).find('a').attr('href');
	        return false;
	    })　　

	　　　　　 $('.gmaplikeimage').imagefit({
	        mode: 'outside', //指定サイズの中に入れるかはみ出させるかの指定: 'inside' or 'outside'.
	        halign : 'left', //指定サイズのブロックに対する画像の配置横位置: 'left', 'center' or 'right'
	        valign : 'middle' , //指定サイズのブロックに対する画像の配置縦位置: 'top', 'middle' or 'bottom'
	        force : true //画像のサイズが指定サイズより小さい場合もリサイズするかどうか:true or false 
	    });　　　　　
	});　
 </script>