<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
     

    <a href="#menu" class="menu-link">&#9776;</a>
    
        <div class="map">
          <li><i><%= link_to "", index_gmap_path, :class => "fa fa-map-marker" %></i></li>
           <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
        </div>             
        <div class = "sort">
          <%= link_to '', "/#articles/index", remote: true, :class => "fa fa-sort-desc" %>
        </div>
      
        <div class = "select_geogeo">
          <%= link_to '', "/#index", {:id => 'geo_btn', :class => 'fa fa-street-view'} %>
        </div>

        <div class = "select_geogeo">
          <%= link_to '', "/#index", {:id => 'mile', :class => 'fa fa-at'} %>
        </div>

         <div class = "select_geogeo">
          <%= link_to '', index_recommend_path, {:class => 'fa fa-smile-o'} %>
        </div>
    </div>
  </div>
</header>


