<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">
    <div class="container">
      <div class="wrap push">
        <a href="#menu" class="menu-link">&#9776;</a>   
       
     <nav id="menu" class="panel" role="navigation">
      <ul>
          <li><%= link_to "home", root_path %></li>
          <hr>
          <div class='search'>
            <li>
              <%= form_tag search_path, method: :get do %>
                <div class="search-input">
                  <%= text_field_tag :word, '', size: '50' %>
                  <%= image_tag 'magnifying-glass.png', :size => '15', :class => "searchicon" %>
                </div>
                <!-- <div id="searchbutton"><button class="button1" type="submit"><i class="fa fa-search"></i></button></div> -->
              <% end %>
            </li>
          </div>        
          <div id='second'><hr></div>
          <li class="menubarcol">ユーザー情報</li>
           <% if signed_in? %> 
               <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
               <!-- *_path はUserモデルを作成したときに、
                deviseにより自動で作成されてますので、rake routesで確認できます -->
             <!--  <li>アカウントメール<strong><%= current_user.email %></strong>.</li>  -->
              <!-- <li id="fat-menu" clas="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                  アカウント <b class="caret"></b>
                </a> -->
                <!-- <ul class="dropdown-menu"> -->
                <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
                <li><%= link_to "お気に入り", favorite_user_path(current_user.id) %></li>
                <!-- <li class="divider"></li> -->
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <!-- </ul> -->
             <% else %>
               <li><%= link_to "登録", new_user_registration_path %> </li>
               <li><%= link_to "ログイン", new_user_session_path %></li>
               <li><%= link_to "Facebookログイン", user_omniauth_authorize_path(:facebook) %></li>
             <% end %> 
  
        <li class="menubarcol">カテゴリ</li>
        <li><%= link_to "飲食", index_eating_path %></li>
        <li><%= link_to "ショッピング", index_shopping_path %></li>
        <li><%= link_to "その他", index_other_path %></li>
   
       <% if signed_in_? %>
        <!-- <li id="fat-menu" clas="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                管理情報 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
         --> 
　　　　　<li class="menubarcol">発信者情報</li>
         <li><%= link_to "基本情報", store_path(current_store.id) %></li>
         <li><%= link_to "投稿画面", new_article_path %></li>
         <li><%= link_to "ログアウト", session_path(current_store.id), method: :delete %></li>
       <% end %>
      </ul>
    </nav>

 
      

        <div class="map">
          <li><i><%= link_to "", index_gmap_path, :class => "fa fa-map-marker" %></i></li>
           <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
        </div>             
        <div class = "sort">
          <%= link_to '', "/#articles/index", remote: true, :class => "fa fa-sort-desc" %>
        </div>
      
        <div class = "select_geogeo">
          <%= link_to '', "/#index", {:id => 'geo_btn', :class => 'fa fa-street-view'} %>
        </div>

        <div class = "select_geogeo">
          <%= link_to '', "/#index", {:id => 'mile', :class => 'fa fa-at'} %>
        </div>

         <div class = "select_geogeo">
          <%= link_to '', index_recommend_path, {:class => 'fa fa-smile-o'} %>
        </div>
   </div>  
    </div>
  </div>
</header>

<script type="text/javascript">
  // $('.dropdown-toggle').dropdown()
  $(function(){
     $('.menu-link').bigSlide();
  });
</script>
